services:
  web:
    build: .
    command: gunicorn -w 1 -b 0.0.0.0:8000 main:app
    ports:
      - "7479:8000"
    volumes:
      - ./data:/app/data  
    restart: always
    networks:
      - bf_shared_net

  worker:
    build: .
    command: python clock.py
    volumes:
      - ./data:/app/data  
    restart: always
    networks:
      - bf_shared_net

networks:
  bf_shared_net:
    external: true