<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BF historical - Find Player</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
</head>
<body>
    {% include 'nav.html' %}
    <br><br><br>
    <main style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <div>
            Input username to view a player's stats over time: 
            <input onkeyup="if(event.key==='Enter'){location.href='/player/'+this.value};" type="text">
        </div>

        <div class="player-grid">
            {% for player in players %}
                <button class="player-card" onclick="location.href='/player/{{ player.name }}'">{{player.name}}</button>
            {% endfor %}
        </div>
    </main>
    </body>
</html>