<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Statistics - Blockfront historical</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
</head>
<body>
    {% include 'nav.html' %}

    <main>
    <div id="player-stats">
        <h2>Players in <span style="color: lightslategrey">{{username}}</span>'s match</h2>
        <p>{{players_in_match}}</p>
        {{ match_html|safe }}
    </div>
    </main>
</body>
</html>