<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BF historical - {name}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-olive-300 dark:bg-olive-900">
    {% include 'nav.html' %}
    <main style="width: 100%; padding: 0 1rem; box-sizing: border-box; flex: auto;">
        <h1>Stats for <span class="text-fuchsia-700 dark:text-fuchsia-300">{{name}}'s Stats</span></h1>
        {% include 'bf_player_stats_chart.html' %}
    </main>
</body>
</html>