<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BF historical - {name}</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
</head>
<body>
    {% include 'nav.html' %}
    <h1 style="text-align: center; margin-top: 20px; flex: 1;">Stats for <span style="color: lightslategrey">{{name}}'s Stats</span></h1>
    <main style="width: 100%; padding: 0 1rem; box-sizing: border-box; flex: auto;">
        {% include 'bf_player_stats_chart.html' %}
    </main>
</body>
</html>